In [1]:
import pandas as pd

In [3]:
pd.read_csv('./../data/2023-05.csv')

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha Arribo,Hora_Arribo
0,M,29.0,7689680,409,30/04/2023,23:47:13.5490,372,01/05/2023,01:00:07.1390
1,F,26.0,4491841,409,30/04/2023,23:47:16.6410,372,01/05/2023,01:00:15.9590
2,M,53.0,8475519,078,30/04/2023,23:55:17.6240,170,01/05/2023,01:00:26.0450
3,F,44.0,8584393,054,30/04/2023,23:25:48.5580,020,01/05/2023,01:00:27.7460
4,M,23.0,6810659,196,30/04/2023,23:43:35.5340,064,01/05/2023,01:01:04.5280
...,...,...,...,...,...,...,...,...,...
945158,F,29.0,3319944,068,31/05/2023,23:41:32.0150,017,01/06/2023,00:59:32.6530
945159,F,31.0,6395594,141,31/05/2023,23:16:57.3820,157,01/06/2023,00:59:33.8140
945160,M,59.0,2152262,167,31/05/2023,23:55:33.8420,167,01/06/2023,00:59:47.1690
945161,M,32.0,6059604,359,31/05/2023,23:51:51.2390,375,01/06/2023,00:59:49.2630
945162,M,34.0,7220593,004,31/05/2023,23:48:44.6000,053,01/06/2023,00:59:56.5340